/*Select elements by class name and add desired attributes such as height, width etc*/
/* You can uncomment lines below to see how the columns and row are arranged*/
/*{ /*Make the borders to be red in colour
	border: 1px solid red !important;

}*/

* {
    /*Make your page to display correctly on most browsers*/
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.row {
    /*to make the coumns line next to each other and not stacking on each other*/
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: green;
}
/* Below is the code for column 2, which holds the web logo*/

.col-2 {
    position: relative;
    width: 14.66%;
    top: 4px;
    left: 0.50%;
    height: 110px;
}
/* This is the weblogo style*/

.webLogo {
    width: 100%;
    height: 100px;
}
/* This column hold the four images at the right hand side of the page*/

.col-3 {
    position: relative;
    width: 25%;
    left: 0.5%;
}
/*This the FImage, F stands for First*/

.FImage {
    width: 100%;
    height: 130px;
}
/* This is the SImage, S stands for Second*/

.SImage {
    width: 100%;
    height: 130px;
}
/* This is the TImage, T stands for Third*/

.TImage {
    width: 100%;
    height: 130px;
}
/* This is the FHImage, FH stands for Fourth*/

.FHImage {
    width: 100%;
    height: 130px;
}
/* his column hold the biggest image which at the center of the page*/

.col-4 {
    position: relative;
    width: 73.50%;
    left: 1%;
}
/* This is the big_img*/

.big_img {
    width: 100%;
    height: 533px;
}
/* his column hold a text */

.col-5 {
    position: relative;
    /*width:41.66%;*/
    
    width: 30%;
    left: 8%;
    text-align: center;
}
/* This style hold a text */

.fWorks {
    font-size: 90%;
}
/*This column holds the two text at the extrem right hand side of the page*/

.col-6 {
    position: relative;
    width: 40.33%;
    left: 45%;
    text-align: right;
}
/* This style holds a text */

.name {
    font-size: 180%;
}
/* This style holds a text */

.subname {
    font-size: 120%;
}
/* This column holds the three images at the bottom section of the page*/

.col-7 {
    position: relative;
    width: 90%;
    left: 8%;
}
/* This is Image-A style*/

.Image-A {
    width: 33%;
    height: 350px;
}
/* This is Image-B style*/

.Image-B {
    width: 33%;
    height: 350px;
}
/* This is Image-C style*/

.Image-C {
    width: 33%;
    height: 350px;
}
/* This is the Text-A style*/

.Text-A {
    width: 100%;
    font-size: 180%;
}
.link-text {
    width: 100%;
    font-size: 100%;
}
/* This is the Text-B style*/

.Text-B {
    width: 100%;
    font-size: 180%;
}
/* This is the Text-C style*/

.Text-C {
    width: 100%;
    font-size: 180%;
}
/* This column holds the text featured works' */

.col-8 {
    position: relative;
    width: 75%;
    font-size: 300%;
    left: 20%;
}
@media only screen and (max-width: 921px) {
    /* Use media query 
	to change the CSS properties depending on the device, screen size and clolor*/
    
    .row {
        background-color: white;
    }
    .Image-A {
        width: 32.50%;
        height: 150px;
    }
    .Image-B {
        width: 32.50%;
        height: 150px;
    }
    .Image-C {
        width: 32.50%;
        height: 150px;
    }
    .Text-A {
        font-size: 100%;
    }
    .link-text {
        font-size: 40%;
    }
    .Text-B {
        font-size: 100%;
    }
    .Text-C {
        font-size: 100%;
    }
}
